[submodule "3rdparty/eigen"]
	path = 3rdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "3rdparty/cpplint"]
	path = 3rdparty/cpplint
	url = https://github.com/cpplint/cpplint.git
[submodule "3rdparty/lockfree"]
	path = 3rdparty/lockfree
	url = https://github.com/boostorg/lockfree.git
