---
import "the-new-css-reset";
import App from "../components/svelte/App.svelte";
---

<!--
File: index.astro
Project: AUTD Server
Created Date: 07/07/2023
Author: Shun Suzuki
-----
Last Modified: 10/07/2023
Modified By: Shun Suzuki (suzuki@hapis.k.u-tokyo.ac.jp)
-----
Copyright (c) 2023 Shun Suzuki. All rights reserved.

-->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<App client:only />
	</body>
</html>

<style>
	html {
		height: 100%;
	}

	body {
		background: var(--color-background-base-default, #101923);

		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;

		padding: 0;
		margin: 0;
		border: 0;
		height: 100vh;

		font-family: sans-serif;
	}
</style>
