name: Document check

on:
  push:
    branches:
      - 'develop'
  pull_request:
    types: [opened, reopened, review_requested]


jobs:
  check:
    runs-on: ubuntu-latest
    name: check if files changed
    outputs:
      status: ${{ steps.changed-files.outputs.modified_files }}
    steps:
      - uses: actions/checkout@v3
      - uses: tj-actions/changed-files@v37
        id: changed-files
        with:
          files: |
            .github/actions/setup-mdbook.yml
            .github/workflows/doc-check.yml
            doc/**/*.md
            doc/**/*.cpp
            doc/**/*.cs
            doc/**/*.py
            src/**/*.rs
            src/*.toml
            src/**/*.toml
            src/**/*.proto

  build-jp:
    needs: check
    if: needs.check.outputs.status
    name: doc-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup mdbook
        uses: ./.github/actions/setup-mdbook
      - name: Build src
        run: |
          cd ./src
          cargo build --all --features "remote" --exclude autd3-backend-arrayfire --exclude autd3-backend-cuda
      - name: Build book jp
        run: |
          cd ./doc
          MDBOOK_BOOK__src=src/jp mdbook test --dest-dir book/jp -L ./../src/target/debug/deps

  build-en:
    needs: check
    if: needs.check.outputs.status
    name: doc-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup mdbook
        uses: ./.github/actions/setup-mdbook
      - name: Build src
        run: |
          cd ./src
          cargo build --all --features "remote" --exclude autd3-backend-arrayfire --exclude autd3-backend-cuda
      - name: Build book en
        run: |
          cd ./doc
          MDBOOK_BOOK__src=src/en mdbook test --dest-dir book/en -L ./../src/target/debug/deps
