name: Document

on:
  push:
    branches: [ doc ]  

jobs:
  check-cs:
    name: build cs
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v3
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.0.x'
    - name: build
      run: |
        dotnet build ./doc/samples/cs/cs.csproj -c:Release

  check-cpp:
    name: build cpp on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps: 
    - uses: actions/checkout@v3
    - name: build
      run: |
        cd ./doc/samples/cpp
        mkdir build
        cd build
        cmake ..
        cmake --build .

  check-python:
    name: build python
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v3
    - name: install deps
      run: |
        python -m pip install --upgrade pyautd3
        python -m pip install --upgrade numpy
    - name: build
      run: |
        cd doc/samples/python
        echo a | python main.py || true

  build:
    needs: [check-cs, check-cpp, check-python]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup mdbook
      uses: peaceiris/actions-mdbook@v1
      with:
        mdbook-version: '0.4.30'
    - name: Setup mdbook-toc
      run: |
        mkdir -p mdbook-toc
        cd mdbook-toc
        curl -L https://github.com/badboy/mdbook-toc/releases/download/0.12.0/mdbook-toc-0.12.0-x86_64-unknown-linux-gnu.tar.gz -o mdbook-toc.tar.gz
        tar -xvf mdbook-toc.tar.gz
        chmod +x mdbook-toc
        sudo ln -s $PWD/mdbook-toc /usr/local/bin/mdbook-toc
    - name: Setup mdbook-katex
      run: |
        mkdir -p mdbook-katex
        cd mdbook-katex
        curl -L https://github.com/lzanini/mdbook-katex/releases/download/v0.5.3/mdbook-katex-v0.5.3-x86_64-unknown-linux-gnu.tar.gz -o mdbook-katex.tar.gz
        tar -xvf mdbook-katex.tar.gz
        chmod +x mdbook-katex
        sudo ln -s $PWD/mdbook-katex /usr/local/bin/mdbook-katex
    - name: Build book
      run: |
        cd ./doc
        MDBOOK_BOOK__src=src/en mdbook build --dest-dir book/en
        MDBOOK_BOOK__src=src/jp mdbook build --dest-dir book/jp
    - name: mv mdbook doc
      run: |
        mkdir -p doc_build/book
        sudo mv ./doc/book/en ./doc_build/book/en
        sudo mv ./doc/book/jp ./doc_build/book/jp
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./doc_build
        force_orphan: true
